<div class="show">
	<div class="block">
	    <div class="container">
        <%= image_tag("http://res.cloudinary.com/design-is-vital/image/upload/v1476101591/LOGO5-06_lmqkuj.png", :class => "logosmg")%>       
	    	<br>
	        <h1>Projets</h1>
	        <p>Fait avec amour à Paris</p>
	    </div>
	</div>    

	<br>
	<div class="container">
		<h1><%= @projet.title %></h1>
    <hr class="top_title">
		<br>
		<p><%= simple_format(@projet.description).html_safe %></p>
		<br>
		<!-- <img src="<%= @projet.image.url(:medium) %>" alt="<% @projet.title %>">-->
	</div>
</div>

<hr>

     <div class="container">
     	<div class="prerow">
            <h1>Nous designons tous nos projets avec beaucoup d'amour </h1>
            <p>Voici quelques uns de nos derniers projets</p>
        </div>
    </div>

      <div class="bodyprojet">
          <% @Projets.limit(6).in_groups_of(6, false).each do |group| %>
              <div class="row">
                <% group.each do |projet| %>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                      <a href="<%= projet_path(projet.slug) %>"><div class="thumbnail">
                        <img src="<%= projet.image.url(:medium) %>" alt="<% projet.title %>">
                      </div></a>
                    </div>
                <% end %>
              </div>
          <% end %>
      </div>