      <hr>
      <div class="footer">
        <div class="container">
            <!-- <img src="http://unsplash.it/250/250/?random" alt="" class="avatar logofooter">-->
          <div class="row">

            <div class="col-xs-6 col-sm-3">
              <%= image_tag("http://res.cloudinary.com/design-is-vital/image/upload/v1476101591/LOGO4-05_rk90ex.png", :class => "logofooter")%>
            </div>

            <div class="col-xs-6 col-sm-3">
              <h5>DESIGN IS VITAL</h5><p>  3, Sente du Clos d'Arcy <br> 78300 POISSY <br> </p><h5>Tel : 01 00 00 00 00 <br> contact@designisvital.co </h5>
            </div>

            <div class="col-xs-6 col-sm-3">
             <ul class="foot">
              <li><h5>L'AGENCE</h5></li>
              <li><%= link_to "ACCUEIL", root_path %></li>
               <li><%= link_to "AGENCE", agence_path %></li>
               <li><%= link_to "RÉALISATIONS", projets_path %></li>
               <li><%= link_to "MÉTHODE", methode_path %></li>
               <li><a href="https://fr.pinterest.com/designisvital75/" target="_blanc">INSPIRATION</a></li>
               <li><%= link_to "BLOG", article_path %></li>
             </ul>
           </div>

           <div class="col-xs-6 col-sm-3">
            <ul class="foot">
             <li><h5>INFOS</h5></li>
             <li><%= link_to "CONTACT", contact_path %></li>
             <li><%= link_to "MENTIONS LEGALES", mentionslegales_path %></li>
           </ul>
           <ul class="socialfoot">
              <li><h5>SUIVEZ-NOUS</h5></li><br>
              <li><a href="http://facebook.com/designisvital"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/designisvital/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://fr.pinterest.com/designisvital75/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/design_is_vital"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
           </ul>
        </div>
      </div>
